
/* Variables */

:root{
  ---width-container: 46.875%;
  ---width-container-left-anchor: 50%;
}

.pink-color{

color: #AD2A7A;

}

.yellow-color{

color: #FDE94C;

}

.green-color{

color: #48B063;

}

.blue-color{

color: #6394CF;

}

.orange-color{

color: #EC6837;

}

/* CSS */

.white-page-container{

  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.white-page-container-right-anchor{

  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.black-page-container{

  height: 100vh;
  width: 100%;
  background-color: #303030;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.black-page-containe-left-anchor{

  height: 100vh;
  width: 100%;
  background-color: #303030;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

}

.actuality-main-container{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(---width-container);
  height: 100%;
  background-color: royalblue;

}

.information-container{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: var(---width-container);
  height: 100%;
  background-color: transparent;

}

.picture-container{

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: var(---width-container);
  height: 100%;
  background-color: transparent;

}

.picture-container-left{

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: var(---width-container);
  height: 100%;
  background-color: transparent;

}

.anchor-left-picture-container{

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: var(---width-container-left-anchor);
  height: 100%;
  background-color: transparent;

}

.anchor-right-picture-container{

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: var(---width-container-left-anchor);
  height: 100%;
  background-color: transparent;

}

.title-information-black{

  font-size: 48px;
  font-family: 'Poppins-Semibold';
  color: black;
  width: 80%;
  height: auto;
  margin: 0;
  margin-bottom: 41px;

}

.title-information-white{

  font-size: 48px;
  font-family: 'Poppins-Semibold';
  color: white;
  width: 80%;
  height: auto;
  margin: 0;
  margin-bottom: 41px;

}

.text-information-black{

  font-size: 24px;
  font-family: 'Poppins-Medium';
  color: black;
  height: auto;
  margin-bottom: 41px;
}

.big-text-information-black{

  font-size: 24px;
  font-family: 'Poppins-Medium';
  color: black;
  height: auto;
  margin-bottom: 41px;
}

.text-information-white{

  font-size: 24px;
  font-family: 'Poppins-Medium';
  color: white;
  height: auto;
  margin-bottom: 41px;
}

.more-button{

  cursor: pointer;
  width: 200px;
  height: 50px;
  border-color: black;
  border-radius: 15px;
  transition: transform 0.4s ease;
  background-color: white;
  margin: 0;
}

.more-button:hover{

  transform: scale(1.05);

}

.more-button-white{

  cursor: pointer;
  width: 200px;
  height: 50px;
  border-color: white;
  background-color: transparent;
  border-radius: 15px;
  transition: transform 0.4s ease;
  margin: 0;
}

.more-button-white:hover{

  transform: scale(1.05);

}

.more-button-text{

  font-family: 'Poppins-Medium';
  font-size: 20px;
  margin: 0;
  color: black;

}

.more-button-text-white{

  font-family: 'Poppins-Medium';
  font-size: 20px;
  margin: 0;
  color: white;
}

.center-picture-container{

  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: start; 

}

.right-picture-container{

  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: end; 

}


.picture{

  width: 100%;
  max-height: 80%;
  height: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  
}

.picture-description-black{

  font-size: 14px;
  font-family: 'Poppins-Medium';
  margin-top: 9px;
  color: black;

}

.picture-description-white{

  font-size: 14px;
  font-family: 'Poppins-Medium';
  margin-top: 9px;
  color: white;

}

/* CSS actuality's card */

.principal-actuality-card{

  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}

.main-actuality-picture{

  width: 100%;
  max-height: 50%;
  height: 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  
}

.date-more-container{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 15px;
  
}

.date-actuality{

  font-size: 22px;
  font-family: 'Poppins-Light';
  margin: 0;

}

.more-actuality{

  width: 20px;
  height: 20px;
  margin: 0; 
  cursor: pointer;  
}

.more-actuality:hover{

  background-color: #fff;
  opacity: 0.7;

}

.title-main-actuality{

  font-size: 26px;
  font-family: 'Poppins-Bold';
  margin: 9px 0 9px 0 ;

}

.text-main-actuality{

  font-size: 22px;
  font-family: 'Poppins-regular';
  margin: 0;

}

.old-actuality-card{

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: darkkhaki;
  width: 100%;
  height: 40%;

}

.old-actuality-picture{

  width: auto;
  max-height: 50%;
  height: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  
}

.old-actuality-information{

  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin : 0 0 0 9px;

}

.old-date-actuality{

  font-size: 20px;
  font-family: 'Poppins-Light';

}

.old-date-more-container{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;

}

.old-more-actuality{

  width: 18px;
  height: 18px;
  margin: 0; 
  cursor: pointer;  

}

.old-more-actuality:hover{

  background-color: #fff;
  opacity: 0.7;

}

.old-title-main-actuality{

  font-size: 24px;
  font-family: 'Poppins-Bold';
  margin: 9px 0 9px 0 ;

}

.old-text-main-actuality{

  font-size: 20px;
  font-family: 'Poppins-regular';
  margin: 0;

}








/*Extra small devices (phones, 600px and down) 0.625 */
@media only screen and (max-width: 600px){

  :root{
      ---width-container: 93.75%;
      ---width-container-left-anchor: 93.75%;
  }

  .white-page-container{

      flex-direction: column;

  } 

  .black-page-container{

    flex-direction: column;     

  }

  .white-page-container-right-anchor{

      flex-direction: column-reverse;

  }
  
  .information-container{

      align-items: center;

  }

  .picture-container{

      align-items: center;
  }

  .picture-container-left{

    align-items: center;

  }

  .title-information-black{

      width: 100%;
      font-size: 30px;
      text-align: center;
      margin-bottom: 15px;

  }

  .text-information-black{

      text-align: center;
      font-size: 15px;
      margin-bottom: 15px;
  }

  .big-text-information-black{

      text-align: center;
      font-size: 15px;
      margin-bottom: 34px;

  }

  .text-information-white{

      text-align: center;
      font-size: 15px;
      margin-bottom: 15px;

  }

  .more-button{

      width: 125px;
      height: 31.25px;
      border-radius: 9px;

  }

  .more-button-white{

      width: 125px;
      height: 31.25px;
      border-radius: 9px;

  }

  .more-button-text{
     
      font-size: 12.5px;
  
  }

  .more-button-text-white{
     
      font-size: 12.5px;
  
  }

  .center-picture-container{

      width: 90%;
  
  }

  .picture-description-black{

      font-size: 8.75px;
      margin-top: 5.625px;
  } 

  .black-page-containe-left-anchor{

      flex-direction: column;

  }

  .anchor-left-picture-container{

      align-items: center;

  }

  .anchor-right-picture-container{

      align-items: center;

  }

  .right-picture-container{

      align-items: start;

  }

  .picture-description-white{

      font-size: 8.75px;
      margin-top: 5.625px;
  }

  .title-information-white{

      width: 100%;
      font-size: 30px;
      text-align: center;
      margin-bottom: 15px;
  }

  /* CSS actuality */

  .principal-actuality-card{

    width: 100%;
  }

  .date-actuality{

    font-size: 13.75px;

  } 

  .more-actuality{

    width: 12.5px;
    height: 12.5px;

  }

  .title-main-actuality{

    font-size: 16.25px;
    margin: 5.6px 0 5.6px 0;

  }

  .text-main-actuality{

    font-size: 13.75px;

  }

}

/*Small devices (portrait tablets and large phones, 600px and up) 0.625 */
@media only screen and (min-width: 600px){

  :root{
      ---width-container: 93.75%;
      ---width-container-left-anchor: 93.75%;
  }

  .white-page-container{

      flex-direction: column;

  }     

  .black-page-container{

    flex-direction: column;     

  }

  .white-page-container-right-anchor{

      flex-direction: column-reverse;

  }

  .information-container{

      align-items: center;

  }  
  
  .picture-container{

      align-items: center;
  }

  .picture-container-left{

    align-items: center;

  }

  .title-information-black{
      
      font-size: 30px;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;

  }

  .text-information-black{

      text-align: center;
      font-size: 15px;
      margin-bottom: 15px;

  }

  .big-text-information-black{

      text-align: center;
      font-size: 16px;
      margin-bottom: 34px;

  }

  .text-information-white{

      text-align: center;
      font-size: 15px;
      margin-bottom: 15px;

  }

  .more-button{

      width: 125px;
      height: 31.25px;
      border-radius: 9px;

  }

  .more-button-white{

      width: 125px;
      height: 31.25px;
      border-radius: 9px;

  }

  .more-button-text{
     
      font-size: 12.5px;
  
  }

  .more-button-text-white{
     
      font-size: 12.5px;
  
  }

  .center-picture-container{

      width: 90%;
  
  }

  .picture-description-black{

      font-size: 8.75px;
      margin-top: 5.625px;
  }

  .black-page-containe-left-anchor{

      flex-direction: column;

  }

  .anchor-left-picture-container{

      align-items: center;

  }

  .anchor-right-picture-container{

      align-items: center;

  }

  .right-picture-container{

      align-items: start;

  }

  .picture-description-white{

      font-size: 8.75px;
      margin-top: 5.625px;
  }

  .title-information-white{

      
      font-size: 30px;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
      
  }

  /* CSS actuality */

  .principal-actuality-card{

    width: 100%;
  }

  .date-actuality{

    font-size: 13.75px;

  } 

  .more-actuality{

    width: 12.5px;
    height: 12.5px;

  }

  .title-main-actuality{

    font-size: 16.25px;
    margin: 5.6px 0 5.6px 0;

  }

  .text-main-actuality{

    font-size: 13.75px;

  }

}

/*Medium devices (landscapes tablets, 768px and up) 0.83333333 -> 40/48 */
@media only screen and (min-width: 768px){

  :root{
      ---width-container: 93.75%;
      ---width-container-left-anchor: 93.75%;
  }

  .white-page-container{

      flex-direction: column;

  }

  .black-page-container{

    flex-direction: column;     

  }

  .white-page-container-right-anchor{

      flex-direction: column-reverse;

  }
  
  .information-container{

      align-items: center;

  }   

  .picture-container{

      align-items: center;
  }

  .picture-container-left{

    align-items: center;

  }

  .title-information-black{

      font-size: 40px;
      text-align: none;
      width: 100%;
      margin-bottom: 34px;

  }

  .text-information-black{

      text-align: center;
      font-size: 20px;
      margin-bottom: 34px;

  }

  .big-text-information-black{

      text-align: center;
      font-size: 17px;
      margin-bottom: 34px;

  }


  .text-information-white{

      text-align: center;
      font-size: 20px;
      margin-bottom: 34px;

  }

  .more-button{

      width: 200px;
      height: 50px;
      border-radius: 15px;

  }

  .more-button-white{

      width: 200px;
      height: 50px;
      border-radius: 15px;

  }

  .more-button-text{
     
      font-size: 20px;
  
  } 

  .more-button-text-white{
     
      font-size: 20px;
  
  }

  .center-picture-container{

      width: 90%;
  
  }

  .picture-description-black{

      font-size: 12px;
      margin-top: 7.5px;
  }

  .black-page-containe-left-anchor{

      flex-direction: column;

  }

  .anchor-left-picture-container{

      align-items: center;

  }

  .anchor-right-picture-container{

      align-items: center;

  }

  .right-picture-container{

      align-items: start;

  }

  .picture-description-white{

      font-size: 12px;
      margin-top: 7.5px;
  }

  .title-information-white{

     
      font-size: 40px;
      text-align: none;
      width: 100%;
      margin-bottom: 34px;
      
  }

  /* CSS actuality */

  .principal-actuality-card{

    width: 100%;
  }
  
  .date-actuality{

    font-size: 18px;

  } 

  .more-actuality{

    width: 16px;
    height: 16px;

  }

  .title-main-actuality{

    font-size: 21px;
    margin: 8px 0 8px 0;

  }

  .text-main-actuality{

    font-size: 18.3px;

  }
     
}

/*Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){

  :root{
      ---width-container: 46.875%;
      ---width-container-left-anchor: 50%;
  }

  .white-page-container{

      flex-direction: row;       

  }   

  .black-page-container{

    flex-direction: row;       

  }

  .white-page-container-right-anchor{

      flex-direction: row;     

  }

  .black-page-containe-left-anchor{

      flex-direction: row;

  }  

  .information-container{

      align-items: flex-start;

  }  

  .picture-container{

      align-items: end;
  }

  .picture-container-left{

    align-items: start;

  }

  .title-information-black{

      width: 100%;
      text-align: start; 
      margin-bottom: 41px;       

  }  

  .text-information-black{

      text-align: start;
      margin-bottom: 41px;
      font-size: 24px;

  }

  .big-text-information-black{

      text-align: start;
      margin-bottom: 41px;
      font-size: 24px;

  }

  .text-information-white{

      text-align: start;
      margin-bottom: 41px;
      font-size: 24px;

  }
  
  .center-picture-container{

      width: 90%;
  
  }

  .picture-description-black{

      font-size: 14px;
      margin-top: 9px;
  }

  .title-information-white{

      width: 100%;
      text-align: start; 
      margin-bottom: 41px;  

  }

  .anchor-left-picture-container{

      align-items: start;

  }

  .anchor-right-picture-container{

      align-items: end;

  }

  .right-picture-container{

      align-items: end;

  }

  .picture-description-white{

      font-size: 14px;
      margin-top: 9px;
  }

  /* CSS actuality */

  .principal-actuality-card{

    width: 80%;
    height: 80%;

  }

  .date-actuality{

    font-size: 22px;

  }

  .more-actuality{

    width: 20px;
    height: 20px;

  }

  .title-main-actuality{

    font-size: 26px;
    margin: 9px 0 9px 0;

  }

  .text-main-actuality{

    font-size: 22px;

  }

}

/*Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){

  
}