
  /* Common CSS */

.pink-color{

  color: #AD2A7A;

}

.yellow-color{

  color: #FDE94C;

}

.green-color{

  color: #48B063;

}

.blue-color{

  color: #6394CF;

}

.orange-color{

  color: #EC6837;

}

.picture-desc-white{

  font-family: 'Poppins-Medium';
  font-size: 14px;
  color: white;
  margin: 0;
  margin-top: 3px;

}

.picture-desc-black{

  font-family: 'Poppins-Medium';
  font-size: 14px;
  color: black;
  margin: 0;
  margin-top: 3px;

}

.title-text{

  font-family: 'Poppins-SemiBold';
  font-size: 48px;
  width: 610px;
  margin: 0;
  margin-bottom: 41px;

}

.title-text-2{
  font-family: 'Poppins-SemiBold';
  font-size: 48px;
  width: 637px;
  margin: 0;
  margin-bottom: 41px;
  color: white;
  margin: 0;
  margin-bottom: 41px;
}

.title-text-3{
  font-family: 'Poppins-SemiBold';
  font-size: 48px;
  width: 596px;
  margin: 0;
  margin-bottom: 41px;
  color: black;
  margin: 0;
  margin-bottom: 41px;
}

.picture-container{

  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
  
/* CSS Première Partie*/

.first-Content-Container{

  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
  justify-content: right;

}

.bottom-content-text{

  width: 840px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.top-content-text{

  width: 960px;
  height: auto;
  display: flex;
  justify-content: right;
  align-items: center;

}

.text{

  font-family: 'Poppins-Medium';
  font-size: 24px;
  width: 785px;
  margin: 0;  
  margin-bottom: 41px;

}  

.more-button{

  cursor: pointer;
  width: 200px;
  height: 50px;
  border-width: 3px;
  border-color: #000000;
  border-radius: 15px;
  background-color: white;
  transition: transform 0.3s ease;
}

.more-button:hover{

  transform: scale(1.1);

}

.more-button-text{

  font-family: 'Poppins-Medium';
  font-size: 20px;
  margin: 0;

}

.picture-main-1{

  width: 866px;
  height: 618.75px;
  background-size: contain;
  background-repeat: no-repeat;
} 

/* CSS Deuxième Partie*/

.second-Content-Container{

  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
  background-color: #303030;
  justify-content: center;
  align-items: center;

}

.second-top-container{

  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}

.second-bottom-container{

  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.picture-main-2{

  width: 810.83px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;

}

.text-2{

  font-family: 'Poppins-Medium';
  font-size: 24px;
  width: 785px;
  margin: 0;  
  margin-bottom: 41px;
  color: white;
  margin: 0;
  margin-bottom: 41px;
}

.text-2-bis{
  font-family: 'Poppins-Medium';
  font-size: 24px;
  width: 785px;
  margin: 0;  
  margin-bottom: 41px;
  color: white;
  margin: 0;
}

.position-text-2{

  width: 785px;
  height: auto;

}

/* CSS Troisième Partie*/

.third-content-container{

  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
  background-color: #fff;
  justify-content: center;
  align-items: center;

}

.third-top-container{

  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.third-bottom-container{

  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

}

.main-card-actuality{

  width: 690px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: start;

}

.picture-main-actuality{

  width: 100%;
  height: 413px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 9px;
}

.date-and-button-line{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;

}

.main-date-actuality{

  font-family: 'Poppins-Light';
  font-size: 22px;
  color: black;
  margin: 0;
  margin-bottom: 9px;

}

.main-title-actuatity{

  font-family: 'Poppins-Bold';
  font-size: 26px;
  margin: 0;
  margin-bottom: 9px;

}

.main-desc-actuality{

  font-family: 'Poppins-Regular';
  font-size: 22px;
  width: 690px;  
  margin: 0;
}

.button-more-actuality{

  width: 18px;
  height: 18px;
  margin: 0;
  cursor: pointer;

}

.button-more-actuality:hover{

  background-color: #fff;
  opacity: 0.7;

}

.old-card-actuality{

  width: 795px;
  height: 204px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.info-old-actuality-container{

  display: flex;
  flex-direction: column;
  width: 440px;
  height: 204px;
  margin: 0;
  margin-left: 15px;

}

.picture-old-actuality{

  width: 340px;
  height: 204px;
  background-size: contain;
  background-repeat: no-repeat;

}

.old-date-button-line{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 9px;
  
}

.old-date-actuality{

  font-family: 'Poppins-Light';
  font-size: 20px;

}

.old-title-actuality{

  font-family: 'Poppins-Bold';
  font-size: 24px;
  margin: 0;
  margin-bottom: 9px;

}

.old-desc-actuality{

  font-family: 'Poppins-Regular';
  font-size: 20px;
  width: 440px;
  margin: 0;

}

.br{

  height: 41px;

}

/* CSS Quatrième Partie*/

.fourth-content-container{

  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
  background-color: #303030;
  justify-content: right;
  align-items: center;  

}

.fourth-bottom-container{

  width: 893px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.fourth-top-container{

  width: 907px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  
}

.title-text-4{

  font-family: 'Poppins-SemiBold';
  font-size: 48px;
  width: 893px;
  margin: 0;
  margin-bottom: 41px;
  color: white;    

}

.picture-main-3{

  width: 825px;
  height: 619px; 
  background-size: contain;
  background-repeat: no-repeat;
}

/* CSS Cinquième Partie*/

.fifth-content-container{

  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
  background-color: white;
  justify-content: start;
  align-items: center;  

}

.fifth-bottom-container{

  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.fifth-top-container{

  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.picture-main-4{

  width: 814px;
  height: 576px; 
  background-size: contain;
  background-repeat: no-repeat;
}

.title-text-5{
  font-family: 'Poppins-SemiBold';
  font-size: 48px;
  width: auto;
  margin: 0;
  margin-bottom: 41px;
  color: black;
  margin: 0;
  margin-bottom: 41px;
}

.text-5-france-titre{

  font-family: 'Poppins-Medium';
  font-size: 24px;
  width: fit-content;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.text-5-france{

  font-family: 'Poppins-Medium';
  font-size: 24px;
  width: 785px;
  margin: 0;  
  margin-bottom: 41px;

}

.text-5-benin-titre{

  font-family: 'Poppins-Medium';
  font-size: 24px;
  width: fit-content;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.text-5-benin{

  font-family: 'Poppins-Medium';
  font-size: 24px;
  width: 785px;
  margin: 0;  
}

/* CSS Sixième Partie*/

.sixth-content-container{

  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  width: auto;
  background-color: #303030;
  justify-content: center;
  align-items: center;  

}

.partner-line{

  width: 1680px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 41px;

}

.partner-card{

  width: 820px;
  height: 355px;
  display: flex;
  flex-direction: column;
  justify-content: start;

}

.partner-logo-title{

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  justify-content: start;
  align-items: center;
  background-color: #fff;

}

.partner-logo{

  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;

}

.partner-title{

  font-size: 24px;
  font-family: 'Poppins-SemiBold';

}

.partner-desc{

  font-family: 'Poppins-Regular';
  font-size: 24px;
  color: #fff;
  margin: 0px;
  margin-top: 10px;

}

.title-text-6{
  font-family: 'Poppins-SemiBold';
  font-size: 48px;
  width: 596px;
  margin: 0;
  margin-bottom: 41px;
  color: white;
  margin: 0;
  margin-bottom: 41px;
}

.partner-container{

  width: 1680px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

}

@media only screen and (max-width :1920px){

/* Common CSS */

.pink-color{

  color: #AD2A7A;

}

.yellow-color{

  color: #FDE94C;

}

.green-color{

  color: #48B063;

}

.blue-color{

  color: #6394CF;

}

.orange-color{

  color: #EC6837;

}

.picture-desc-white{

  font-family: 'Poppins-Medium';
  font-size: 14px;
  color: white;
  margin: 0;
  margin-top: 3px;

}

.picture-desc-black{

  font-family: 'Poppins-Medium';
  font-size: 14px;
  color: black;
  margin: 0;
  margin-top: 3px;

}

.title-text{

  font-family: 'Poppins-SemiBold';
  font-size: 36px;    
  margin: 0;
  margin-bottom: 30px;

}

.title-text-2{
  font-family: 'Poppins-SemiBold';
  font-size: 36px;    
  margin: 0;
  margin-bottom: 20px;
  color: white;
}

.title-text-3{
  font-family: 'Poppins-SemiBold';
  font-size: 36px;
  margin: 0;
  margin-bottom: 20px;
  color: black;
  margin: 0;
  margin-bottom: 41px;
}

.picture-container{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  
}
  
/* CSS Première Partie*/

.first-Content-Container{

  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  justify-content: right;
  align-items: center;

}

.bottom-content-text{

  width: 48%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.top-content-text{

  width: 50%;
  height: auto;
  display: flex;
  justify-content: right;
  align-items: center;

}

.text{

  font-family: 'Poppins-Medium';
  font-size: 18px;
  margin: 0;  
  margin-bottom: 41px;

}  

.more-button{

  cursor: pointer;
  width: 150px;
  height: 40px;
  border-width: 3px;
  border-color: #000000;
  border-radius: 15px;
  background-color: white;
  transition: transform 0.3s ease;
}

.more-button:hover{

  transform: scale(1.1);

}

.more-button-text{

  font-family: 'Poppins-Medium';
  font-size: 15px;
  margin: 0;

}

.picture-main-1{

  width: 100%;
  height: auto;
  max-height: 618.75px;
  object-fit: cover;
  background-repeat: no-repeat;
} 

/* CSS Deuxième Partie*/

.second-Content-Container{

  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #303030;
  justify-content: center;
  align-items: center;

}

.second-top-container{

  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}

.second-bottom-container{

  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.picture-main-2{

  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  background-repeat: no-repeat;

}

.text-2{

  font-family: 'Poppins-Medium';
  font-size: 18px;    
  color: white;
  margin: 0;
  margin-bottom: 30px;
}

.text-2-bis{
  font-family: 'Poppins-Medium';
  font-size: 18px;    
  margin-bottom: 30px;
  color: white;
  margin: 0;
}

.position-text-2{

  width: 785px;
  height: auto;

}

/* CSS Troisième Partie*/

.third-content-container{

  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  justify-content: center;
  align-items: center; 

}

.third-top-container{

  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.third-bottom-container{

  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

}

.main-card-actuality{

  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}

.picture-main-actuality{

  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
  background-repeat: no-repeat;
  margin-bottom: 9px;
}

.date-and-button-line{

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;

}

.main-date-actuality{

  font-family: 'Poppins-Light';
  font-size: 16.5px;
  color: black;
  margin: 0;
  margin-bottom: 9px;

}

.main-title-actuatity{

  font-family: 'Poppins-Bold';
  font-size: 18px;
  margin: 0;
  margin-bottom: 9px;

}

.main-desc-actuality{

  font-family: 'Poppins-Regular';
  font-size: 16.5px;
  width: 100%;  
  margin: 0;
}

.button-more-actuality{

  width: 13.5px;
  height: 13.5px;
  margin: 0;
  cursor: pointer;

}

.button-more-actuality:hover{

  background-color: #fff;
  opacity: 0.7;

}

.old-card-actuality{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.info-old-actuality-container{

  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin: 0;
  margin-left: 15px;

}

.picture-old-actuality{

  width: 50%;
  height: auto;
  max-height: 170px;
  object-fit: cover;
  background-repeat: no-repeat;

}

.old-date-button-line{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 9px;
  
}

.old-date-actuality{

  font-family: 'Poppins-Light';
  font-size: 15px;

}

.old-title-actuality{

  font-family: 'Poppins-Bold';
  font-size: 16.5px;
  margin: 0;
  margin-bottom: 9px;

}

.old-desc-actuality{

  font-family: 'Poppins-Regular';
  font-size: 15px;
  width: 100%;
  margin: 0;

}

.br{

  height: 41px;

}

/* CSS Quatrième Partie*/

.fourth-content-container{

  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #303030;
  justify-content: right;
  align-items: center;  

}

.fourth-bottom-container{

  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.fourth-top-container{

  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  
}

.title-text-4{

  font-family: 'Poppins-SemiBold';
  font-size: 36px;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  color: white;    

}

.picture-main-3{

  width: 100%;
  height: auto; 
  max-height : 600px;
  object-fit: cover;
  background-repeat: no-repeat;
}

/* CSS Cinquième Partie*/

.fifth-content-container{

  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: white;
  justify-content: start;
  align-items: center;  

}

.fifth-bottom-container{

  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.fifth-top-container{

  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.picture-main-4{

  width: 95%;
  height: auto;
  max-height: 500px; 
  object-fit: cover;
  background-repeat: no-repeat;
}

.title-text-5{
  font-family: 'Poppins-SemiBold';
  font-size: 36px;
  width: auto;
  margin: 0;
  margin-bottom: 30px;
  color: black;
  margin: 0;
  margin-bottom: 30px;
}

.text-5-france-titre{

  font-family: 'Poppins-Medium';
  font-size: 16.5px;
  width: fit-content;
  margin: 0;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}

.text-5-france{

  font-family: 'Poppins-Medium';
  font-size: 16.5px;
  width: 100%;
  margin: 0;  
  margin-bottom: 30px;

}

.text-5-benin-titre{

  font-family: 'Poppins-Medium';
  font-size: 16.5px;
  width: fit-content;
  margin: 0;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}

.text-5-benin{

  font-family: 'Poppins-Medium';
  font-size: 16.5;
  width: 100%;
  margin: 0;  
}

/* CSS Sixième Partie*/

.sixth-content-container{

  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  width: 100%;
  background-color: #303030;
  justify-content: space-around;
  align-items: center;  

}

.partner-line{

  width: 96%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;

}

.partner-card{

  width: 49%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;

}

.partner-logo-title{

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  justify-content: start;
  align-items: center;
  background-color: #fff;

}

.partner-logo{

  width: 75px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;

}

.partner-title{

  font-size: 18px;
  font-family: 'Poppins-SemiBold';

}

.partner-desc{

  font-family: 'Poppins-Regular';
  font-size: 18px;
  color: #fff;
  margin: 0px;
  margin-top: 10px;

}

.title-text-6{
  font-family: 'Poppins-SemiBold';
  font-size: 36px;
  width: 100%;
  color: white;
  margin: 0;
}

.partner-container{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}

}

@media only screen and (max-width :1350px){

.picture-desc-white{

    font-family: 'Poppins-Medium';
    font-size: 10px;
    width: 100%;
    color: white;
    margin: 0;
    margin-top: 3px;
  
  }
  
  .picture-desc-black{
  
    font-family: 'Poppins-Medium';
    font-size: 10px;
    width: 100%;
    color: black;
    margin: 0;
    margin-top: 3px;
  
  }
  
  .title-text{
  
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
    width: 100%;
    margin: 0;
    margin-top: 41px;
  
  }
  
  .title-text-2{
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
    width: 100%;   
    margin: 0;  
    margin-top: 20px;  
    color: white;    
    
  }
  
  .title-text-3{
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
    width: 100%;   
    margin: 0;  
    margin-top: 20px;  
    color: black;
  }
  
  .picture-container{  
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .margin-fourth-picture{

    margin-bottom: 20px;

  }
  
  
  /* CSS Première Partie*/
  
  .first-Content-Container{
    
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  
  }
  
  .bottom-content-text{
  
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    align-items: center;
  
  } 

  .top-content-text{
  
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;   
  }
  
  
  .text{
  
    font-family: 'Poppins-Medium';
    font-size: 14px;
    width: 100%;
    margin: 0;  
    margin-top: 20px;
    margin-bottom: 0;
  
  }
  
  
  
  .more-button{
  
    cursor: pointer;
    width: 150px;
    height: 30px;
    border-width: 2px;
    border-color: #000000;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.3s ease;
    margin-top: 20px;
  }
  
  .more-button:hover{
  
    transform: scale(1.1);
  
  }
  
  .more-button-text{
  
    font-family: 'Poppins-Medium';
    font-size: 14px;
    margin: 0;
  
  }
  
  .picture-main-1{
  
    width: 100%;
    height: fit-content;
    max-height: 280px;
    object-fit: cover;
    background-repeat: no-repeat;
  } 
  
  /* CSS Deuxième Partie*/
  
  .second-Content-Container{
  
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;
    justify-content: center;
    padding: 0 15px;
    background-color: #303030;
  
  }
  
  .second-top-container{
  
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  } 

  .second-bottom-container{
  
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  @media only screen and (min-width: 750px)  {

    .bottom-content-text{
        height: 40vh;
    }

    .top-content-text{
        height: 60vh;
    }

    .picture-main-1{

        max-height: 400px;

    }
    
  } 
  
  .picture-main-2{
  
    width: 100%;
    height: auto;
    max-width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
  
  }
  
  .text-2{
    color: white;        
    font-family: 'Poppins-Medium';
    font-size: 14px;
    width: 100%;
    margin: 0;  
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .text-2-bis{
    color: white;        
    font-family: 'Poppins-Medium';
    font-size: 14px;
    width: 100%;
    margin: 0;  
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .position-text-2{
  
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  /* CSS Troisième Partie*/
  
  .third-content-container{
  
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    background-color: #fff;
    justify-content: center;    
    align-items: center;  
    padding: 0 15px;
      
  }
  
  .third-top-container{
  
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .third-bottom-container{
  
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .main-card-actuality{
  
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .picture-main-actuality{
  
    width: 100%;
    height: auto;    
    max-height: 300px;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-bottom: 9px;
  }
  
  .date-and-button-line{
  
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0;
  
  }
  
  .main-date-actuality{
  
    font-family: 'Poppins-Light';
    font-size: 11px;
    color: black;
    margin: 0;
    margin-bottom: 9px;
  
  }
  
  .main-title-actuatity{
  
    font-family: 'Poppins-Bold';
    font-size: 13px;
    width: 100%;
    margin: 0;
    margin-bottom: 9px;
  
  }
  
  .main-desc-actuality{
  
    font-family: 'Poppins-Regular';
    font-size: 12px;
    width: 100%;  
    margin: 0;
  }
  
  .button-more-actuality{
  
    width: 9px;
    height: 9px;
    margin: 0;
    cursor: pointer;
  
  }
  
  .button-more-actuality:hover{
  
    background-color: #fff;
    opacity: 0.7;
  
  }
  
  .old-card-actuality{
  
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  
  .info-old-actuality-container{
  
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: 0;
    margin-left: 15px;
  
  }
  
  .picture-old-actuality{
  
    width: 50%;
    height: auto;
    min-height: 100%;
    max-height: 200px;
    object-fit: cover;
    background-repeat: no-repeat;
  
  }

  
  .old-date-button-line{
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 9px;
    
  }
  
  .old-date-actuality{
  
    font-family: 'Poppins-Light';
    font-size: 10px;
  
  }
  
  .old-title-actuality{
  
    font-family: 'Poppins-Bold';
    font-size:  12px;
    margin: 0;
    margin-bottom: 9px;
  
  }
  
  .old-desc-actuality{
  
    font-family: 'Poppins-Regular';
    font-size: 10px;
    width: 100%;
    margin: 0;
  
  }
  
  .br{
  
    height: 41px;
  
  }
  
  /* CSS Quatrième Partie*/
  
  .fourth-content-container{
  
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    background-color: #303030;

  }
  
  .fourth-bottom-container{
  
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .fourth-top-container{
  
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  @media only screen and (min-width: 450px)  {

    .fourth-bottom-container{

        height: 40vh;
        justify-content: end;
        
    }
    
    .fourth-top-container{

        height: 60vh;

    }
  } 
  
  .title-text-4{
      
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
    width: 100%;   
    margin: 0;   
    color: white;    
  
  }
  
  .picture-main-3{
    
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
    
  }
  
  /* CSS Cinquième Partie*/
  
  .fifth-content-container{
  
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  
  }
  
  .fifth-top-container{
  
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
  }

  .fifth-bottom-container{
  
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  
  }
  
  @media only screen and (min-width: 700px)  {

    .fifth-top-container{

        height: 40vh;        
    }

    .fifth-bottom-container{

        height: 60vh; 
        justify-content: start;       
    }

    
  } 
  
  
  .picture-main-4{
  
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
    
  }
  
  .title-text-5{
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
    width: 100%;   
    color: black;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .text-5-france-titre{
  
    font-family: 'Poppins-Medium';
    font-size: 12px;
    width: fit-content;
    margin: 0;
    margin-bottom: 9px;
    border-bottom: 2px solid black;

  }
  
  .text-5-france{
  
    font-family: 'Poppins-Medium';
    font-size: 12px;
    width: 100%;
    margin: 0;  
    margin-bottom: 20px;
  
  }
  
  .text-5-benin-titre{
  
    font-family: 'Poppins-Medium';
    font-size: 12px;
    width: fit-content;
    margin: 0;
    margin-bottom: 9px;
    border-bottom: 2px solid black;
  }
  
  .text-5-benin{
  
    font-family: 'Poppins-Medium';
    font-size: 12px;
    width: 100%;
    margin: 0;  
  }
  
  /* CSS Sixième Partie*/
  
  .sixth-content-container{
        
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    background-color: #303030;
  
  }
  
  .partner-line{
  
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0px;
  
  }
  
  .partner-card{
  
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
  
  }
  
  .partner-logo-title{
  
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: start;
    align-items: center;
    background-color: #fff;
  
  }
  
  .partner-logo{
  
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
  
  }
  
  .partner-title{
  
    font-size: 12px;
    font-family: 'Poppins-SemiBold';
  
  }
  
  .partner-desc{
  
    font-family: 'Poppins-Regular';
    font-size: 12px;
    color: #fff;
    margin: 0px;
    margin-top: 10px;
  
  }
  
  .title-text-6{
    font-family: 'Poppins-SemiBold';
    font-size: 24px;
    width: 100%;   
    color: white;
    margin: 0;
  }
  
  .partner-container{
  
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  
  }
}