/* Footer CSS */

.footer{

  height: 35.65vh;
  width: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 0;
    
}

.footer-up-container{
  height: auto;
  width: 1680px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 60.3px;
}

.footer-up-name{

  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  align-items: center;
}

.footer-up-logo{

  width: 162px;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-up-website-name{

  font-family: 'Poppins-SemiBold';
  font-size: 48px;
  margin: 0;

}

.footer-up-links{

  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0; 

}

.footer-up-links-span{

  font-family: 'Poppins-medium';
  font-size: 24px;
  cursor: pointer;
}

.footer-up-social{

  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;

}

.footer-up-social-title{

  font-family: 'Poppins-SemiBold';
  font-size: 24px;
  margin-bottom: 9px;

}

.footer-up-social-logo-mail{

  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 9px;

}

.footer-up-social-icon{

  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;

}

.footer-up-social-mail{

  font-family: 'Poppins-Medium';
  font-size: 24px;
  margin: 0;
  margin-left: 22px;

}

.footer-up-social-network{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: auto;
}

.footer-up-social-network-instagram{

  height: 40px;
  width: 40px;   
  margin: 0;
  }
  
  .picture_social_network{
  height: 40px;
  width: 40px;   
  object-fit: cover;
  }

.footer-up-social-network-facebook{

  height: 40px;
  width: 40px;  
  margin: 0;
}

.footer-up-social-network-linkedin{

  height: 40px;
  width: 40px;
  margin: 0;
}

.footer-up-social-network-whatsapp{

  height: 40px;
  width: 40px;
  margin: 0;
}

.footer-down{

  width: 1680px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

}

.footer-down-line{

  width: 1405px;
  height: 1px;
  background-color: #000000;
  border: none;

}

.footer-down-copyright{

  font-family: 'Poppins-Medium';
  font-size: 24px;

}

@media only screen and (max-width: 1350px){

/* Footer CSS Phone*/

.footer{

height: 105px;
width: 100%;
background-color: white;
display: flex;
flex-direction: column;
justify-content: end;
align-items: center;
margin: 0;
padding: 0 15px;      
}

.footer-up-container{
height: auto;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0;
margin-top: 5px;
}

.footer-up-name{

width: auto;
height: auto;
display: flex;
flex-direction: column-reverse;
justify-content: center;
margin: 0;
align-items: center;
}

.footer-up-logo{

width: 50%;
height: auto;
max-height: 50px;
background-repeat: no-repeat;
background-size: contain;
}

.footer-up-website-name{

font-family: 'Poppins-SemiBold';
font-size: 18px;
margin: 0;

}

.footer-up-links{

display: flex;
flex-direction: column;
justify-content: center;
margin: 0; 

}

.footer-up-links-span{

font-family: 'Poppins-medium';
font-size: 10px;
cursor: pointer;
}

.footer-up-social{

height: auto;
width: auto;
display: flex;
flex-direction: column;
justify-content: start;

}

.footer-up-social-title{

font-family: 'Poppins-SemiBold';
font-size: 10px;
margin-bottom: 5px;

}

.footer-up-social-logo-mail{

height: auto;
width: auto;
display: flex;
flex-direction: row;
justify-content: start;
align-items: center;
margin-bottom: 9px;

}

.footer-up-social-icon{

width: 20px;
height: 20px;
background-repeat: no-repeat;
background-size: contain;

}

.footer-up-social-mail{

font-family: 'Poppins-Medium';
font-size: 10px;
margin: 0;
margin-left: 10px;

}

.footer-up-social-network{

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 140px;
height: auto;
}

.footer-up-social-network-instagram{

height: 20px;
width: 20px;   
margin: 0;
}

.picture_social_network{
height: 20px;
width: 20px;   
object-fit: cover;
}


.footer-up-social-network-facebook{

height: 20px;
width: 20px;   
margin: 0;
}

.footer-up-social-network-linkedin{

height: 20px;
width: 20px;   
margin: 0;
}

.footer-up-social-network-whatsapp{
height: 20px;
width: 20px;   
margin: 0;
border: none;
}

.footer-down{

width: 100%;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 5px;
margin-top: 5px;

}

.footer-down-line{

width: 80%;
height: 1px;
background-color: #000000;
border: none;

}

.footer-down-copyright{

font-family: 'Poppins-Medium';
font-size: 12px;

}
}